The HW1 assignment is described here:
<br>
<%= link_to "https://moodle.brandeis.edu/file.php/11062/Assignments/homework1.htm", "https://moodle.brandeis.edu/file.php/11062/Assignments/homework1.htm" %>
<br>
<br>
Note: the following open source projects were used in this project:
  <ul>
  <li><%= link_to "Ruby on Rails Tutorial", "http://railstutorial.org/ruby-on-rails-tutorial-book" %></li>
   <li><%= link_to "GitHub", "http://github.com" %></li>
   <li><%= link_to "Heroku", "http://heroku.com" %></li>
   <li><%= link_to "Blueprint CSS", "http://www.blueprintcss.org/" %></li>
  </ul>
