<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "List Accounts", list_path %></li>
      <li><%= link_to "Open Account", open_path %></li>
      <li><%= link_to "Deposit", deposit_path %></li>
      <li><%= link_to "Withdrawal", withdrawal_path %></li>
      <li><%= link_to "Transfer", transfer_path %></li>
      <li><%= link_to "Exit", exit_path %></li>
    </ul>
  </nav>
</footer>
