<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "List Accounts", list_path %></li>
      <li><%= link_to "Open Account", open_path %></li>
      <li><%= link_to "Deposit", deposit_path %></li>
      <li><%= link_to "Withdrawal", withdrawal_path %></li>
      <li><%= link_to "Transfer", transfer_path %></li>
      <li><%= link_to "Exit", exit_path %></li>
    </ul>
  </nav>
  <p>
  <nav class="round">
  This is a Ruby on Rails site built based on the <%= link_to "Ruby on Rails Tutorial", "http://railstutorial.org/ruby-on-rails-tutorial-book" %>.  
  It includes code from that open source project, and makes use of the following other open source projects:
  <ul>
   <li><%= link_to "GitHub", "http://github.com" %></li>
   <li><%= link_to "Heroku", "http://heroku.com" %></li>
   <li><%= link_to "Blueprint CSS", "http://www.blueprintcss.org/" %></li>
  </ul>
  </nav>
</footer>
