<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "List Accounts", list_path %></li>
      <li><%= link_to "Open Account", open_path %></li>
      <li><%= link_to "Deposit", deposit_path %></li>
      <li><%= link_to "Withdrawal", withdrawal_path %></li>
      <li><%= link_to "Transfer", transfer_path %></li>
      <li><%= link_to "Exit", exit_path %></li>
    </ul>
  </nav>
  <p>
  <nav class="round">
  This is a Ruby on Rails site built based on the excellent <%= link_to "Ruby on Rails Tutorial", "http://railstutorial.org/ruby-on-rails-tutorial-book" %>.
  </nav>
</footer>
