<h1>List Accounts</h1>

<table>
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Social Security Number</th>
    <th>Amount</th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.last_name %></td>
    <td><%= account.first_name %></td>
    <td><%= account.address %></td>
    <td><%= account.phone %></td>
    <td><%= account.soc_sec %></td>
    <td><%= account.amount %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %>
  </tr>
<% end %>
</table>

<br />
