<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Amount</th>
    <th>Datetime opened</th>
    <th>Customer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.type %></td>
    <td><%= account.amount %></td>
    <td><%= account.datetime_opened %></td>
    <td><%= account.customer_id %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>
