<p id="notice"><%= notice %></p>

<p>
  <b>Last Name:</b>
  <%= @account.last_name %>
</p>

<p>
  <b>First Name:</b>
  <%= @account.first_name %>
</p>

<p>
  <b>Address:</b>
  <%= @account.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @account.phone %>
</p>

<p>
  <b>Social Security Number:</b>
  <%= @account.soc_sec %>
</p>

<p>
  <b>Amount:</b>
  <%= @account.amount %>
</p>
